<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message info</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="card">
        <div class="username"><%= message.user %></div>
        <div class="date"><%= message.added %></div>
        <div class="message"><%= message.text %></div>
        <a href="/" class="button">Go back</a>
    </div>
</body>
</html>