<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini message board</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <a href="/new" class="button card">Send a message</a>
    <% messages.forEach(message => { %>
        <%- include("message", {message: message}) %>
    <% }); %>
</body>
</html>