<div class="card">
    <div class="username"><%= message.user %></div>
    <div class="message"><%= message.text %></div>
    <a href="messages/<%= messages.indexOf(message) %>" class="button">Details</a>
</div>